
body {
	background: #f8f8f8;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #fff;
}
.page-container {
	width: 245px;
	height: auto;
	margin: 120px auto 0 auto;
}
h1 {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
form {
	position: relative;
	/*width: 305px;*/
	
	margin: 15px auto 0 auto;
	text-align: center;
}
input {
	width: 210px;
	height: 42px;
	margin-top: 25px;
	padding: 0 15px;
	/* browsers that don't support rgba */
	
	background: rgba(45, 45, 45, .15);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3d3d3d;
	/* browsers that don't support rgba */
	
	border: 1px solid rgba(255, 255, 255, .15);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
input:-moz-placeholder {
	color: #fff;
}
input:-ms-input-placeholder {
	color: #fff;
}
input::-webkit-input-placeholder {
	color: #fff;
}
input:focus {
	outline: none;
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
}
button {
	cursor: pointer;
	width: 200px;
	height: 44px;
	margin-top: 25px;
	padding: 0;
	background: #00ff99;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #00ff99;
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
button:hover {
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
}
button:active {
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .1) inset, 0 1px 4px 0 rgba(0, 0, 0, .1);
	border: 0px solid #ef4300;
}
.error {
	display: none;
	position: absolute;
	top: 27px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: #2d2d2d;
	/* browsers that don't support rgba */
	
	background: rgba(45, 45, 45, .25);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.error span {
	display: inline-block;
	margin-left: 1px;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-shadow: 0 1px 2px rgba(255, 0, 0, .1);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.connect {
	width: 305px;
	margin: 35px auto 0 auto;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.connect a {
	display: inline-block;
	width: 32px;
	height: 35px;
	margin-top: 15px;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
.connect a:hover {
	background-position: center bottom;
}
select {
	width: 240px;
	height: 42px;
	margin-top: 25px;
	background: rgba(255,255,255,.25);
	border: solid 0px;
	-webkit-appearance: initial;
	border-radius: 16px;
	border: 3px solid rgba(200, 140, 240, .15);
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
option {
	background-color: transparent;
	border: solid 0px;
	-webkit-appearance: initial;
}
.op_color {
	background-color: transparent;
	border: solid 0px;
	-webkit-appearance: initial;
}
