<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<title>成绩查询</title>
		<link rel="stylesheet" href="css/b_score.css" />
		<link rel="stylesheet" href="css/amazeui.min.css">
		<link rel="stylesheet" href="css/bbk.css" />
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/amazeui.min.js"></script>
		
	</head>

	<body>
		<div class="wx_show">
			<div id="touxiang">
				<a href="javascript:void(0);" class="am-btn am-btn-primary" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">
					<img src="img/02.jpg" alt="" class="abc" width="48" height="48">
				</a>
			</div>
			<div id="wx_name">
				<label id="stu_open_id">用户1_niki</label>
			</div>
		</div>

		<!-- 侧边栏内容 -->
		<div id="doc-oc-demo2" class="am-offcanvas">
			<div class="am-offcanvas-bar">
				<div class="am-offcanvas-content">
					<h1>个人中心</h1>
					<div class="bbk">
						<a href="../private/myself.html"><p>基本信息>></p></a>
						<a href="../private/collect.html"><p>个人收藏>></p></a>
						<a href="../private/cl_detail.html"><p>课程信息>></p></a>
						<a href="../private/advice.html"><p>意见反馈>></p></a>
						<a href="../private/about.html"><p>关于我们>></p></a>
					
					</div>
				</div>
			</div>
		</div>

		<table class="am-table am-table-bordered am-table-striped">
			<thead>
				<tr>
					<th style="width:90px">学年</th>
					<th style="width:110px">学期</th>
					<th style="width:170px">科目</th>
					<th style="width:70px">分数</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><code>2013~2014</code>
					</td>
					<td><code>第一学期</code>
					</td>
					<td><code>oracle数据库</code>
					</td>
					<td><code>90</code>
					</td>
				</tr>
				<tr>
					<td><code>2013~2014</code>
					</td>
					<td><code>第二学期</code>
					</td>
					<td><code>java（上）</code>
					</td>
					<td><code>87</code>
					</td>
				</tr>
				<tr>
					<td><code>2014~2015</code>
					</td>
					<td><code>第一学期</code>
					</td>
					<td><code>大学生商务英语入门</code>
					</td>
					<td><code>60</code>
					</td>
				</tr>
				<tr>
					<td><code>2014~2015</code>
					</td>
					<td><code>第二学期</code>
					</td>
					<td><code>毛泽东思想与社会主义核心价值观</code>
					</td>
					<td><code>89</code>
					</td>
				</tr>
			</tbody>
		</table>
		</div>

	</body>

</html>