.content_list{
	/*margin-top: 35px;*/
	height: 100%;
}

.top_left{
	font-family: "宋体";
	font-size: 150%;
	font-weight: bold;
}
.hot_area{
	margin:5px 0;
}

.hot_area ul li{
	list-style: none;

}
.hot_topic{
	display:inline-block;
	white-space:nowrap; 
	text-overflow: ellipsis;
	width:80%; 
	overflow:hidden; 
	
}
.hot_hr{
	margin: 2% 0;
	background-color: #555555;
	height: 1px;
}
.hot_area ul li img{
	width: 20px;
	height: 10px;
}
.area_list{
	margin-top: 0;
	padding-left: 1px;
}
.hot_area ul li img[class=zan]{
	width: 20px;
	height: 20px;
	float: right;
	display: inline;
}
.zan{
	display: inline;
	float: right;
	color: red;
}
.new_list{
	margin-top: 3%;
}
.head_pic{
	width: 40px;
	height: 40px;
}
.head_content{
	margin: 0 2%;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 120%;
}
.topic{
	height:130px;
}
.topic_zan{
	float: left;
	width: 30%;
	height: 100%;
}
#compo{
	margin-top: 1%;
	font-size: 70%;
}
#compo #author_head img{
	width: 65px;
	height: 65px;
}
#compo img{
	margin: 0 0 0 10%;
	width: 15px;
	height: 15px;
}
#compo p{
	margin: 0;
}
.topic_view{
	height: 100%;
	width: 70%;
	float: right;
}
.myanswer{
	height: 100%;
	width: 90%;
	float: right;
}
.topic_view .title{
	color: #0084C7;
	font-size: 80%;
	font-weight: 700;
	width: 100%;
}
.myanswer .title{
	color: #0084C7;
	font-size: 80%;
	font-weight: 700;
	width: 100%;
}
.myanswer .author{
	font-size: 70%;
}
.myanswer p{
	width: 90%;
	margin-top: 0px;
	font-size: 60%;
}.topic_view .author{
	font-size: 70%;
}
.topic_view p{
	width: 90%;
	margin-top: 0px;
	font-size: 60%;
}
.bottom_hr{
	margin: 0 2%;
	width: 96%;
	height: 2px;
	opacity: 0.4;
	background: #757575;
}
#wrapper ul{
	padding-left: 0;
}
#wrapper ul li{
	list-style: none;
}
.add_more{
	text-align: center;
}
.add_more button{
	width: 80%;
}
.am-offcanvas-bar{
	width:50%;
}
.slider_content{
	/*margin-left: 0;*/
	padding-left: 0;
}
.slider_content li{
	list-style: none;
	text-align:center;
}
.slider_content li img{
	width: 40px;
	height: 40px;
}
form[name="question"]{
	text-align: center;
}
form[name="question"] img{
	width: 90px;
}
.input_topic{
	font-size: 100%;
	height: 40px;
	width: 70%;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}
textarea[name="content"]{
	margin-top: 5%;
	width: 70%;
	height: 10em;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}
select{
	margin-top: 5%;
	width: 70%;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}
form[name="question"] button{
	margin:0 5%;
	width: 30%;
}
.channel img{
	width: 60px;
}
.channel_group{
	margin-top: -5px;
	text-align: center;
}
.channel_group select{
	width: 70%;
}
#show_result{
	margin:0;
}
input[name="keyword"]{
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin: 5%;
	width: 70%;
}
.conan_comm{
	width: 95%;
}
.add_comment{
	text-align: center;
}
#comm_form input,textarea{
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin: 2% 0;
	width: 60%;
}
#comm_form input{
	height: 30px;
}
#comm_form textarea{
	height: 100px;
}