<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<title>获奖记录</title>
		<link rel="stylesheet" href="css/b_most.css" />
		<link rel="stylesheet" href="css/amazeui.min.css">
		<link rel="stylesheet" href="css/bbk.css" />
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/amazeui.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

	</head>

	<body>
		<div class="wx_show">
			<div id="touxiang">
				<a href="javascript:void(0);" class="am-btn am-btn-primary" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">
					<img src="img/02.jpg" alt="" class="abc" width="48" height="48">
				</a>
			</div>
			<div id="wx_name">
				<label id="stu_open_id">用户1_niki</label>
			</div>
		</div>

		<!-- 侧边栏内容 -->
		<div id="doc-oc-demo2" class="am-offcanvas">
			<div class="am-offcanvas-bar">
				<div class="am-offcanvas-content">
					<h1>个人中心</h1>
					<div class="bbk">
						<a href="../private/yourself.html"><p>基本信息>></p></a>
						<a href="../private/collect.html"><p>个人收藏>></p></a>
						<a href="../private/majors.html"><p>班级信息>></p></a>
						<a href="../private/advice.html"><p>意见反馈>></p></a>
						<a href="../private/about.html"><p>关于我们>></p></a>
					</div>
				</div>
			</div>
		</div>

		<div class="doc-example">
			<ul class="am-comments-list am-comments-list-flip">

				<li class="am-comment am-comment-primary">
					<a href="#link-to-user-home">
						<img src="img/login.jpg" alt="" class="am-comment-avatar" width="48" height="48">
					</a>
					<div class="am-comment-main">
						<header class="am-comment-hd">
							<div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">用户1_niki</a> 提问于
								<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:30</time>
							</div>
						</header>
						<div class="am-comment-bd">
							<p>怎么使用拉格朗日？</p>
							<div class="re_q">
								<input id="showhide" ref="comm1" type="button" class="am-btn am-btn-danger  am-btn-sm" value="回复"/>
							</div>
							<div class="comment" ref="comm1">
								<textarea class="re_text"></textarea> 
								<button type="button">回复</button>
							</div>
						</div>
					</div>
				</li>
				
				<li class="am-comment am-comment-primary">
					<a href="#link-to-user-home">
						<img src="img/login.jpg" alt="" class="am-comment-avatar" width="48" height="48">
					</a>
					<div class="am-comment-main">
						<header class="am-comment-hd">
							<div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">用户1_niki</a> 提问于
								<time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:30</time>
							</div>
						</header>
						<div class="am-comment-bd">
							<p>怎么使用拉格朗日？</p>
							<div class="re_q">
								<input id="showhide" ref="comm2" type="button" class="am-btn am-btn-danger  am-btn-sm" value="回复"/>
							</div>
							<div class="comment" ref="comm2">
								<textarea class="re_text"></textarea> 
								<button type="button">回复</button>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<div class="add_more">
			<button id="load_more" class="load_m">
				点击加载更多
			</button>
		</div>
	</body>

</html>